<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">



</head>

<body>

<!-- 🔥 NAVBAR -->
<th:block th:replace="fragments :: navbar"></th:block>


<h1> Your Shopping Cart:</h1>
<div class="table-container">

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${cart}">
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.description}"></td>
        <td th:text="${item.product.category.id}"></td>

        <!-- Rental dates -->
        <td th:text="${item.startDate}"></td>
        <td th:text="${item.endDate}"></td>

        <td>
            <a class="action-link" th:href="@{'/cart/remove/' + ${item.product.id}}">Remove</a>
        </td>
    </tr>
    </tbody>
</table>
</div>

<!-- Checkout button -->
<div class="center-btn">
    <form action="/checkout" method="get">
        <button type="submit" class="checkout-btn">Proceed to Checkout </button>
    </form>
</div>

<p style="text-align: center; margin-top: 10px;">
<a href="/products">⬅ Back to Products</a>
</p>

<!-- 🔥 FOOTER -->
<th:block th:replace="fragments :: footer"></th:block>

</body>
</html>
